.table {
  height: 370px;
  width: 50%;
  margin: auto;
}
.cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

@media (max-width: 40rem) {
  .table {
    width: 100%;
  }
  .cards {
    grid-template-columns: auto;
  }
}
